@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import '~/src/components/GlobalStyles/setting/mixins';

.wrapper {
    width: 100%;
    @include boxShadow(0px 1px 1px rgba(0, 0, 0, 0.12));
}
.header-container {
    @include flex($justify: space-between);
}
.header-left {
    font-family: 'Pangolin', cursive;
    text-decoration: none;
    color: var(--black-color);
    @include flex();
    img {
        width: 60px;
    }
}

.header-right {
    display: flex;
    .more-btn {
        padding-left: 20px;
        cursor: pointer;
        @include icon();
    }
}
.user-avatar {
    width: 40px;
    border-radius: 100%;
    margin-left: 25px;
}

.icon-mess {
    margin-left: 25px;
    @include icon();
    @include flex();
}
