@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import '~/src/components/GlobalStyles/setting/mixins';

.wrapper {
    width: 100%;
    @include boxShadow(0px 1px 1px rgba(0, 0, 0, 0.12));
}
.header-container {
    @include flex($justify: space-between);
}
.header-left {
    font-family: 'Pangolin', cursive;
    text-decoration: none;
    color: var(--black-color);
    @include flex();
    img {
        width: 60px;
    }
}

.search-result {
    width: 516px;
    .search-title {
        height: 30px;
        padding: 5px 12px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
    }
}

.header-center {
    :global(.ant-input-affix-wrapper) {
        border-start-start-radius: 20px !important;
        border-end-start-radius: 20px !important;
        padding: 10px 12px;
    }
    :global(.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button) {
        &:not(.ant-btn-primary):hover {
            border-color: var(--primary-color);
            color: var(--primary-color);
        }
        border-start-end-radius: 20px;
        border-end-end-radius: 20px;
        width: 50px;
        height: 44px;
        background-color: rgba(22, 24, 35, 0.06);
    }
    :global(.ant-input-group-addon) {
        background-color: transparent;
    }
    :global(.ant-input-affix-wrapper) {
        &:not(.ant-input-affix-wrapper-disabled):hover {
            border-color: var(--primary-color);
        }
        background-color: rgba(22, 24, 35, 0.06);
    }
    input {
        background: transparent;
    }
}
.header-right {
    display: flex;
    .more-btn {
        padding-left: 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 20px;
    }
    
}
